@model HTML_HELPERS.Models.Cliente

@{
    ViewBag.Title = "MostrarDatos";
}

<h2>MostrarDatos</h2>

<br /> Cedula: @Model.Cedula

<br /> Nombre: @Model.Nombre

<br /> Apellido: @Model.Apellido

<br /> Edad: @Model.Edad

<br /> Telefono: @Model.Telefono

<br /> Correo Electronico: @Model.Email

<br /> Genero: @Model.ClienteGenero

<br /> Estado : @Model.Estado

<br /> Hobbys:   Futbol(@Model.Hobbys)   Basketball(@Model.Basketball)  Baseball(@Model.Baseball) Tennis(@Model.Tennis)






